<form (ngSubmit)="onCreateCity()" [formGroup]="form">
  <div class="container col-lg-8 mt-5">
    <div class="card">
      <div class="card-header">
        <div [hidden]="cityUpdated">
          <h5>Add new City</h5>
        </div>
        <div [hidden]="!cityUpdated">
          <h5>Update city</h5>
        </div>
      </div>
      <div class="card-body ">
        <div class="form-group row">
          <div class="col-sm-12">
            <label class="control-label required" for="name">Name</label>
            <input [ngClass]="displayFieldCss('name')" class="form-control" formControlName="name"
                   id="name" name="name" placeholder="City name"
                   type="text"/>
            <div class="invalid-feedback">
              <div>Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label class="control-label required" for="photo">Photo</label>
            <input [ngClass]="displayFieldCss('photo')" class="form-control"
                   formControlName="photo" id='photo'
                   name="photo" placeholder="City photo"
                   type="text"/>
            <div class="invalid-feedback">
              <div>Photo is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-2">
        <div class="col-6">
          <button class="btn btn-success" routerLink="/city" style="margin-right: 5px" type="button">Back
          </button>
        </div>
        <div align="right" class="col-6">
          <button [hidden]="!cityUpdated" class="btn btn-primary" style="margin-right: 5px"
                  type="submit">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

