<div class="container col-lg-10 mt-2">
  <div class="card box-primary">
    <div class="card-header">
      <h5> Search</h5>
    </div>
    <div class="card-body ">
      <div class="form-group">
        <div class="form-row">
          <div class="col-sm-6">
            <label for="label">Name</label>
            <input [(ngModel)]="nameSearch" class="form-control" id="label"
                   name="label" type="text"/>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div align="right" class="p-3">
    <button (click)="loadData()" class="btn btn-success" type="button">Search
    </button>
  </div>
  <div class="card box-result">
    <div class="card-header">
      <h5> City List</h5>
    </div>
    <div class="card-body ">
      <div [hidden]="dataSource.page?.totalElements !== 0" style="margin-top: 30px;">
        No city found
      </div>
      <div [hidden]="dataSource.page?.totalElements === 0" style="margin-top: 30px;">
        <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
            <mat-cell *matCellDef="let city">{{city.name}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="photo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Photo</mat-header-cell>
            <mat-cell *matCellDef="let city">
              <div class="imgCity"><img [src]="city.photo" class="card-img-bottom rounded-circle"/></div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
            <mat-cell *matCellDef="let city">
              <button [routerLink]="['/city', city.id, 'edit']" class="btn btn-info" style="margin-right: 5px;"
                      value="edit">
                Edit
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let city; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator [length]="dataSource?.page?.totalElements" [pageSizeOptions]="[20, 50, 100]"
                       [pageSize]="20" showFirstLastButtons="true"></mat-paginator>
      </div>
    </div>
  </div>
</div>
